<h2>Co to jest floating</h2>

<p>Floating to unoszenie się na mocno osolonej wodzie. Zawiera ona sól magnezową (tzw. Sól gorzką Epsom). Jest to siarczan magnezu i dzięki jego zawartości w wodzie nie czujemy oddziaływania grawitacji.
  W kabinie floatingowej zawierającej wodę – dryfuje się po jej powierzchni. Woda z siarczanem magnezu oraz powietrze w kabinie mają temperaturę zbliżoną do temperatury powierzchni skóry.
   Dzięki temu po przyzwyczajeniu się do panujących warunków zapominamy o naszym ciele. Dosłownie przestajemy czuć gdzie kończy się nasza ręka czy noga a zaczyna się woda!</p>
<p>Nasz mózg również o tym "zapomina" i w dość łatwy sposób przestraja fale mózgowe z fal alfa (czuwania) na fale theta. To ten stan, który może przybliżyć nam medytacja lub głęboki, zdrowy sen. Godzinny seans w kabinie floatingowej odpowiada 4-6 godzinom snu. Dodatkowo dzięki wyporności solanki i dryfowaniu na jej powierzchni doskonale rozluźniają się nasze mięśnie a za nimi powięzie i stawy. Nie da się w innych warunkach uzyskać tak pełnego rozluźnienia mięśni! Kojąco na ciało wpływa również magnez oraz siarka (sól Epsom to siarczan magnezu). Magnez wchłania się przez skórę,a siarka wpływa dobroczynnie na cerę, włosy i paznokcie!</p>

<h2>Korzyści:</h2>
<ul><li>rozluźnienie mięśni i powięzi przez brak odczucia grawitacji,</li>
<li>poprzez brak nacisku, odciążenie stawów, wiązadeł,</li>
<li>pozytywny wpływ siarki na cerę, włosy i paznokcie,</li>
<li>dzięki wchłanianiu magnezu poprzez skórę: poprawa jakości snu, szybsza koncentracja, wspomaganie pamięci,większa błyskotliwość, brak skurczów mięśnowych</li>
<li>dzięki przejściu fal mózgowych z alfa na theta: regeneracja umysłu, lepsza kontrola emocji, uspokojenie i wyciszenie</li>
<li>magnez i ciepło działają przeciwbólowo i przeciwzapalnie co daje poprawę odporności</li>
<li>zupełny brak światła to odpoczynek dla oczu</li></ul>

<h2>Dla kogo:</h2>
<p>We floatingu każdy znajdzie coś dla siebie, zarówno osoby młode, te w średnim i w starszym wieku. Kobiety i mężczyźni.</p>
<ul<li>-osoby zapracowane i przemęczone</li>
<li>z zaburzeniami snu</li>
<li>pracujące w trybie zmianowym</li>
<li>pracujące w wymuszonej pozycji ciała (praca biurowa, kierowcy)</li>
<li>przeciążające układ kostny (dźwiganie)</li>
<li>młode mamy</li>
<li>kobiety w ciąży (po I-trymestrze)</li>
<li>osoby z migrenowymi bólami głowy, bólami kręgosłupa, bólami chronicznymi</li>
<li>osoby pracujące umysłowo</li>
<li>sportowcy</li></ul>
<p></p>
<h2>Historia</h2>

<p>Historia rozpoczęła się w Stanach zjednoczonych na przełomie lat 50. i 60. XX wieku. Amerykański lekarz neurolog, dr Lilly stworzył prototyp urządzenia do odizolowania organizmu człowieka od bodźców. Blisko dziesięc lat później dr Suedfeld i dr Borrie z Uniwersytetu Columbia zgłębili fenomen korzyści płynących z izolowania od bodźców. Nazwali oni tę terapię R.E.S.T. (Restricted Enviromenal Stimalution Teraphy) – terapia organiczonej stymuacji środowiskowej. Później, również inni badacze zainteresowali się floatingiem, stąd rozliczne badania naukowe na temat jego dobrodziejstw. Obecnie floating cieszy się rosnącą popularnością w naszym kraju, oraz poza granicami.</p>
