<style media="screen">
.ytcontainer {text-align: center;
position: relative;
padding: 20px;
}

</style>

<div class="ytcontainer">
  <iframe width="800" height="450" src="https://www.youtube.com/embed/dz1qsA23lPs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
