<h1>Adres:</h1><h2> Kazimierza Wielkiego 12</h2>
<h2>58-100 Świdnica</h2>

<h2>Godziny otwarcia: <h2>
<ul><li>poniedziałek	09:00–21:00</li>
<li>wtorek	09:00–21:00</li>
<li>środa	09:00–21:00</li>
<li>czwartek	09:00–21:00</li>
<li>piątek	09:00–21:00</li>
<li>sobota zamknięte</li>
<li>niedziela zamknięte</li></ul>


<h2>Telefon: 577 252 545</h2>
