<h1>Oferta</h2>

<ul><li>sesja floatingowa 60 min - 100zł</li>
<li>sesja floatingowa 90min  - 120zł</li>

<li>sesje specjalne (w soboty, niedziele, święta i poza godzinami otwarcia)</li>
<li>sesja specjalna 60 min - 110zł</li>
<li>sesja specjalna 90 min – 130zł</li>

<li>wypożyczenie ręcznika – 5zł</li>

<li>bony upominkowe i vouchery</li></ul>
