<h1>Przeciwwskazania:</h1>

<ul><li>schorzenia układu krążeniowo-oddechowego (np.nadciśnienie, zakrzepica żylna, astma) -schorzenia układu nerwowego (np.epilepsja, stan po udarze)</li>
<li>choroby serca oraz wszczepiony rozrusznik serca </li>
<li>gorączka i ostre infekcje (np. grypa, zapalenie ucha, zapalenie pęcherza moczowego itp.) </li>
<li>czas menstruacji u kobiet </li>
<li>pierwszy trymestr ciąży  </li>
<li>choroby psychiczne (np. ciężkie depresje lub psychozy) </li>
<li>rany otwarte, uszkodzenia skóry, podrażnienia, łuszczyca </li>
<li>spożycie alkoholu i innych środków odurzającychsilna </li>
<li>choroba lokomocyjna</li></ul>
