<h2>Sesja krok po kroku </h2>

<p>Na zaplanowaną wcześniej sesję postaraj się przyjść 10 minut przed czasem. Czas przed sesją jest potrzebny na zaznajomienie się z regulaminem i  rozmowę wprowadzającą.</p>

<p>Nie planuj sesji zaraz po obfitym posiłku. Najlepiej półtorej godziny przed
przybyciem zjeść coś lekkiego. Chodzi o to, aby w oddzuwanym relaksie uniknąć burczenia w brzuchu oraz przerywania go potrzebami fizjologicznymi.</p>

<p>Unikaj picia kawy czy energetyków przed sesją – floating wprowadzi cię w stan odpoczynku,relaksu, jeśli nie będziesz zbytnio pobudzony.</p>

<p>W kabinie floatingowej jest mocne stężenie soli, każda metoda depilacji jakiejkolwiek części ciała pozostawia mikrourazy, które w wodzie będą stanowić o dyskomforcie. Po deplacji odczekaj minimum 72godziny zamin będziesz floatował.</p>

<p>Przed wejściem do kabiny należy zmyć makijaż i wziąć prysznic, dokładnie zmywając mydliny – nie chcemy aby woda w kabinie się pieniła...</p>

<p>Najlepiej skorzystać z toalety,żeby w przyjemnym floatowaniu nie musieć wychodzić za potrzebą.
Oczywiście jeśli taka zaistnieje, należy obowiązkowo wyjść z wody! Zanieczyszczenie solanki wiązać się będzie z karą finansową!</p>

<p>Po wejściu do kabiny słyszymy w tle muzykę, która w pewnej chwili zamilknie. Pozostaniemy wtedy sami ze sobą, słysząc jedynie własny oddech i bicie własnego serca.</p>

<p>W kabinie nie ma zegarka, nie mamy poczucia czasu. O kończącej się sesji floatingowej powiadomi Nas pojawiająca się znów muzyka i pujsująco migające czerwone światło.</p>

<p>Po wyjściu z wody, należy udać się pod prysznic. Trzeba umyć szamponem włosy oraz użyć odżywki – inaczej będą matowe i sztywne. Szczególnie umyć trzeba uszy. Niezależnie od tego czy floatowało się w zatyczkach czy bez, odrobina soli może wykrystalizować i będziemy czuć to w uszach.
   Resztę ciała należy jedynie odpłukać z soli aby później nie była pokraty białym, słonym nalotem.</p>
